body {
    background-color: white;
}

div {
    box-sizing: border-box;
}

header {
    height: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("Image Resources/elephantbackground (orange).png");
}

h1 {
    font-size: 48px;
    font-family: Montserrat, Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: #9ac2f4;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    font-family: Montserrat, Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: #364b71;
}

h3 {
    width: inherit;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
}

#profile-picture-container {
    width: 45%;
    height: inherit;
    float: left;
}

#profile-picture {
    height: inherit;
    float: right;
}

#profile-info {
    height: inherit;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    opacity: 0.8;
}

#last-name {
    color: #f46036;
}

#contact-parent {
    width: 400px;
}

.contact {
    width: 23%;
    display: inline-table;
    text-align: center;
    height: 50px;
}

.contact-icon {
    width: 20px;
}

.contact-name {
    font-size: 10px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: #f46036;
    margin-top: 1px;
    margin-bottom: 0px;
    display: none;
}

.contact-link:hover~.contact-name {
    display: block;
}

#about-me-parent {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

#about-me {
    color: #414770;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
}

hr {
    border-top: 1px solid #364b71;
    width: 30%;
    color: #364b71;
}

.section {
    margin-top: 100px;
    margin-left: 5%;
}

#projects {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    margin-bottom: 200px;
}

.project-square {
    border: 1px solid #273043;
    width: 30%;
    margin: 10px;
    box-sizing: content-box;
    background-color: #273043;
    float: left;
}

.project-picture {
    width: 100%;
    height: auto;
}

.project-square:hover {
    filter: brightness(50%);
}

.project-title {
    height: 50px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #9ac2f4;
}

@media (max-width: 768px) {
    header {
        height: 200px;
        padding-top: 50px;
        background-image: url("Image Resources/elephantbackground (mobile).png");
    }
    h1 {
        font-size: 36px;
    }
    #profile-picture-container {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }
    #profile-picture {
        height: inherit;
    }
    #profile-info {
        height: 50px;
        width: 100%;
        text-align: center;
    }
    #contact-parent {
        width: 75%;
        text-align: center;
        display: inline-block;
    }
    #about-me-parent {
        padding-left: 10%;
        padding-right: 10%;
    }
    .section {
        margin-left: 2px;
        margin-right: 2px;
    }
    .project-square {
        width: 100%;
    }
}