body {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}

div {
    box-sizing: border-box;
}

header {
    height: 150px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-family: Montserrat, Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: #364b71;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-family: Montserrat, Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: #364b71;
    margin-bottom: 2px;
}

a {
    color: #f46036;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
ul {
    color: #414770;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
}

hr {
    border-top: 1px solid #364b71;
    width: 30%;
    color: #364b71;
    margin-bottom: 25px;
}

li {
    list-style: circle;
}

#back {
    color: #414770;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    float: left;
}

#project-image-parent {
    text-align: center;
}

#project-image {
    width: auto;
    height: 400px;
    margin-bottom: 15px;
}

#github-link {
    font-size: 14px;
}

#section {
    width: 100%;
}

@media (max-width: 768px) {
    #project-image {
        width: 100%;
        height: auto;
    }
}