body {
  background: rgb(195, 227, 243);
  background: linear-gradient(
    90deg,
    rgba(195, 227, 243, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%,
    rgba(195, 227, 243, 1) 100%
  );
  box-sizing: border-box;
  font-family: Montserrat, Raleway, Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 100px;
}

#profile {
  margin-bottom: 50px;
}

#profile-pic {
  height: 225px;
  border-radius: 30%;
  float: right;
}

#profile-info {
  padding-top: 50px;
  line-height: 36px;
  font-size: 30px;
}

#name {
  font-size: 46px;
  font-weight: 600;
}

@media (max-width: 576px) {
  #profile-info {
    font-size: 24px;
  }

  #name {
    font-size: 40px;
  }
}

#icons {
  font-size: 11px;
  line-height: 24px;
  margin-right: 15px;
  margin-left: 15px;
  max-width: 75%;
}

@media (max-width: 576px) {
  #profile-pic {
    float: none;
    margin-left: calc((100% - 225px) / 2);
  }

  #profile-info {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  #icons {
    width: 100%;
    margin: auto;
  }
}

.individual-icons {
  color: #212529;
  font-size: 20px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#icons a:hover {
  -webkit-animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#intro {
  text-align: center;
  margin-bottom: 50px;
}

.text-link {
  background-color: rgba(187, 239, 253, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text-link:hover {
  background-color: #bbeffd;
  color: #212529;
}

.card-image-container {
  overflow: hidden;
  cursor: pointer;
}

.card-image-container img {
  transition: transform 0.5s ease;
}

.card-image-container:hover img {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.caption {
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  display: none;
}

.card-image-container:hover .caption {
  display: inherit;
}

.project-icon {
  margin-left: 15px;
  font-size: 18px;
}

.text-note {
  color: grey;
}

#roameo-demo-btn {
  cursor: pointer;
}

#site-building {
  margin-top: 100px;
  text-align: center;
}

#elephant {
  width: 42px;
  position: absolute;
  right: 93px;
  top: 86px;
  cursor: pointer;

  -webkit-animation:spin 25s infinite linear;
  -moz-animation:spin 25s infinite linear;
  animation:spin 25s infinite linear;
}

@media (max-width: 576px) {
  #elephant {
    right: calc((100% - 225px) / 2 + 91px);
    top: -140px;
  }
}

#elephant-wrapper {
  -webkit-animation: myOrbit 25s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: myOrbit 25s linear infinite; /* Firefox 5-15 */
  -o-animation: myOrbit 25s linear infinite; /* Opera 12+ */
  animation: myOrbit 25s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

@-webkit-keyframes myOrbit {
  from { -webkit-transform: rotate(0deg) translateX(128px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(128px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
  from { -moz-transform: rotate(0deg) translateX(128px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(128px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
  from { -o-transform: rotate(0deg) translateX(128px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(128px) rotate(-360deg); }
}

@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(128px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(128px) rotate(-360deg); }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.elephant {
  width: 42px;
  position: absolute;
}

.elephant-right {
  left: -50px;

  transform: rotate(-90deg);
  animation: elephant-right-move 15s linear;
}

.elephant-left {
  right: -50px;

  transform: rotate(-90deg) scaleY(-1);
  animation: elephant-left-move 15s linear;
}

@keyframes elephant-right-move {
  from { left: -50px; }
  to { left: 100%; }
}
@keyframes elephant-left-move {
  from { right: -50px; }
  to { right: 100%; }
}